body{
    background-color: black;
}
h2{
    font-family: "Bevan", cursive;
    color: hotpink
}
h3{
    font-family: "Bevan", cursive;
    color: hotpink;
}
.col-lg-5{
    
    background-color: hotpink;
    align-self: auto;
    color: yellow;
    text-align: center;
    font-family: "Bevan", cursive;
    font-size: 22px;
    
    padding: 10px;
    
}
h4{
    font-family: "Bevan", cursive;
    color: hotpink;
    text-align: center;
}
.Top{
    text-align: center;
}
p{
    font-family: "Bevan", cursive;
    margin: 20px;
    padding-top: 15px

}
.border-style{
    border-left: dashed 2px white;

    border-top: dotted 2px white;
    border-bottom: dotted 2px white;
    border-right: dashed 2px white;
    padding: 10px
}

img{
    height: 250px;
    width: 400px;
}